.input-search {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    color: #008ABF;
    background: #ebebeb;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    transition: 0.35s ease;
}

.input-search:focus{
    transition: 0.35s ease;
    color: #116193;
    background: #e2e2e2;
}

.input-search::-webkit-input-placeholder {
    color: #116193;
    opacity: 0.5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.btn-search{
    border-radius: 25px !important;
    background: #116193 !important;
    border: none !important;
    padding: 0px 30px !important;
}